.current-weather {
    background-color: #1eaf67;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.forecast {
    margin-top: 20px;
    text-align: center;

    .forecast-container {
        display: flex;
        justify-content: space-around;
        gap: 15px 0px;
        width: 100%;
        flex-wrap: wrap;
        .forecast-day {
            background: #87e48c;
            border-radius: 10px;
            text-align: center;
            width: 150px;
            padding: 15px;
        }
    }
}
